@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --color-dark: #1b2b1b;
    --color-light: #efefef;
}

body {
    font-family: "Indie Flower", sans-serif;
    color: var(--color-dark);
    display: grid;
    
}